﻿@using System.Text.Json
@model Table
@{
    ViewData["Title"] = "Catch Changes";
}

<div class="text-center">
    <table>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        @{
            var response = RequestBuilder.GetAsync("http://nginx:80/db/tables");
            var stream = response.Result.Content.ReadAsStream();
            var tables = JsonSerializer.Deserialize<List<Table>>(stream)
                         ?? throw new Exception("Tables have not been received");
            foreach (var table in tables)
            {
                <tr>
                    <td>@table.Id</td>
                    <td>@table.Name</td>
                    <td>@table.Status<td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
<h1>
    Add a new table
</h1>

<form method="post" asp-antiforgery="false"  asp-area="" asp-controller="Home" asp-action="Add">

    <label>Id: </label>
    <input asp-for="@Model.Id" type="text" name="id" id="input_id"><br/><br/>

    <label>Name: </label>
    <input asp-for="@Model.Name" type="text" name="name" id="input_name"><br/><br/>

    <label>Status: </label>
    <input asp-for="@Model.Status" type="text" name="status" id="input_status"><br/><br/>

    <button id="submit">Submit</button>
</form>